/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_c4ca9b372195ebba80646e5858b6b9f0.eot");
  src: url("../fonts/fontcustom_c4ca9b372195ebba80646e5858b6b9f0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_c4ca9b372195ebba80646e5858b6b9f0.woff") format("woff"),
       url("../fonts/fontcustom_c4ca9b372195ebba80646e5858b6b9f0.ttf") format("truetype"),
       url("../fonts/fontcustom_c4ca9b372195ebba80646e5858b6b9f0.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-hdmi-nc-detailed:before,
.icon-vga-nc-md:before,
.icon-hdmi-nc:before,
.icon-dvd-nc:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-hdmi-nc-detailed:before { content: "\f100"; }
.icon-vga-nc-md:before { content: "\f101"; }
.icon-hdmi-nc:before { content: "\f102"; }
.icon-dvd-nc:before { content: "\f103"; }
