/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_03d2fc1b82e9c2b79ed5c341d18d802a.eot");
  src: url("../fonts/fontcustom_03d2fc1b82e9c2b79ed5c341d18d802a.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_03d2fc1b82e9c2b79ed5c341d18d802a.woff") format("woff"),
       url("../fonts/fontcustom_03d2fc1b82e9c2b79ed5c341d18d802a.ttf") format("truetype"),
       url("../fonts/fontcustom_03d2fc1b82e9c2b79ed5c341d18d802a.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-hdmi:before,
.icon-vga:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-hdmi:before { content: "\f100"; }
.icon-vga:before { content: "\f101"; }
